<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirwanda.nottiled"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--uses-permission android:name="com.android.vending.BILLING" -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:name="com.mirwanda.nottiled.Aplikasi"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:appCategory="game"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:theme="@style/GdxTheme"
        android:resizeableActivity = "true"
        android:hasFragileUserData="true"
        android:requestLegacyExternalStorage="true">
        
        <!---
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-0329741361926795~9960638706"/>
        -->
        
    <activity
                 android:name="com.mirwanda.nottiled.MainActivity"
                 android:label="@string/app_name"
                 android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                 >
                 <intent-filter>
                     <action android:name="android.intent.action.MAIN" />
                     <category android:name="android.intent.category.LAUNCHER" />
                     
                 </intent-filter>
                 
                 <!-- Register to handle email attachments -->
                 <!-- WARNING: Do NOT use android:host="*" for these as they will not work properly -->
                 <!-- Register to handle file opening -->
                 <intent-filter>
                     <data android:scheme="file"
                         android:mimeType="*/*"
                         android:pathPattern=".*\\.tmx"
                         android:host="*"/>

                     <action android:name="android.intent.action.VIEW" />

                     <category android:name="android.intent.category.DEFAULT" />
                     <category android:name="android.intent.category.BROWSABLE" />
                 </intent-filter>
                 
             </activity>
         </application>

</manifest>
